body {
    background-color: lightgreen;

    /* Smoothly transition the background color */
    transition: background-color 0.5s;
}
.container {
    margin: 0;
}
.player {
    /* height: 200vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}

.track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    border-radius: 15%;
}

.now-playing {
    font-size: 1rem;
}
.track-name {
    font-size: 8vw;
    max-width: 400px;
    height: 100px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}
@media (min-width: 576px) {
    .track-name {
        font-size: 5vw;
        max-width: 400px;
        height: 100px;
    }
}
@media (min-width: 768px) {
    .track-name {
        font-size: 2rem;
        max-width: 400px;
        height: 100px;
    }
}
/* @media (min-width: 992px) {
    .track-name {
        font-size: 2rem;
        max-width: 400px;
        height: 100px;
    }
}
@media (min-width: 1400px) {
    .track-name {
        font-size: 2rem;
        max-width: 400px;
        height: 100px;
    }
} */

.track-artist {
    font-size: 1.5rem;
    font-family: "Roboto Mono", monospace;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playpause-track,
.prev-track,
.next-track {
    padding: 25px;
    opacity: 0.8;

    /* Smoothly transition the opacity */
    transition: opacity 0.2s;
}

.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
    opacity: 1;
}

.slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modify the appearance of the slider */
.seek_slider,
.volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}

.seek_slider:hover,
.volume_slider:hover {
    opacity: 1;
}

.seek_slider {
    width: 60%;
}

.volume_slider {
    width: 30%;
}

.current-time,
.total-duration {
    padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
    padding: 10px;
}

i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
    cursor: pointer;
}
/* playlist */
body {
    font-family: Arial, sans-serif;
}

.playlist {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    align-content: center; */
    /* width: 50%; */
}

.playlist li {
    border: 1px solid #000;
    margin: 10px 0;
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.playlist h4 {
    cursor: pointer;
    margin: 0;
}

.playlist p {
    margin: 0;
}
.playlist img {
    width: 3.22em;
    height: 3.22em;
    border-radius: 1.32em;
}
.player-border {
    background: #bec7d6;
    max-width: 750px;
    border: clamp(0.25rem, -0.0291rem + 1.3953vw, 0.625rem) solid #242c3d;
    border-radius: clamp(0.625rem, -0.0727rem + 3.4884vw, 1.5625rem);
    padding: clamp(0.9375rem, -1.1555rem + 10.4651vw, 3.75rem);
}
.buttons-border {
    background: #bec7d6;
    height: 100px;
    border: clamp(0.25rem, -0.0291rem + 1.3953vw, 0.625rem) solid #242c3d;
    border-radius: clamp(0.625rem, -0.0727rem + 3.4884vw, 1.5625rem);
    padding: clamp(0.9375rem, -1.1555rem + 10.4651vw, 3.75rem);
}
@media (max-width: 575.98px) {
}
li {
    text-align: left;
    border-radius: 3rem;
    padding: 1.1rem 1.5rem 1.1rem 1.5rem;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-family: "Inter", sans-serif;
}
.active-track {
    background-color: blue; /* Définissez ici la couleur bleue de votre choix */
    color: white; /* Couleur du texte */
}
.footer {
    color: #bec7d6;
    font-size: larger;
    font-weight: 500;
}
.link-to-other-plateform {
    height: 100px;
    /* border: clamp(0.1rem, -0.0291rem + 1.3953vw, 0.625rem) solid #4978dd; */
    border-radius: clamp(0.225rem, -0.0727rem + 3.4884vw, 0.5625rem);
    /* padding: clamp(0.9375rem, -1.1555rem + 10.4651vw, 3.75rem); */
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
}
